:root {
  --blue:#5099cb;
  --grey:#f0f0f0
}

body{
  background-image: url('https://wallpaperaccess.com/full/896979.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif !important;

}

#root{
  position: relative;
  background-image: linear-gradient(to top, #5099cb, #ffbba4);
  height:100vh;
}

.converter-container{
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  margin:0;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  width:90%;
  border-radius: 10px;
}


/* form element + results elements styling */

.clear-outline{
  border:none;
  outline:none;
}

input, select{
  width:50%;
}

input, .unit{
  border-radius: 0.375rem 0 0 0.375rem !important;
}

select, .unit-ab{
  background-color: var(--blue);
  border-radius: 0 0.375rem 0.375rem 0;
}


.unit{
  background-color: var(--grey);
  width:40%;
}

.value{
  width:35%;
}

.convert{
  border-radius: 0.375rem;
  transition: all 0.2s linear;
}

.enable:hover{
  color:white;
  background-color: var(--blue);

}

.caution{
  font-size: 0.75rem;
}

@media (min-width:740px){
  .converter-container{
    width:50%;
  }
  .results, select, input, .convert{
    font-size: 1.3rem !important;
  }
  input{
    width:75%;
  }
  select, .unit{
    width:25%;
  }
  .value{
    width:50%;
  }
  .caution{
    font-size: 1rem;
  }
}